body{
    width: 100%;
    background-color: #333A41;

}

h1{
    width: 100%;
    font-size:4em;
}

#header{
    min-width: 100%; 
    text-align: center;
    background-color: #333A41;
    color: rgb(236, 228, 222);
    padding-bottom:0;
}

#container{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Search Content Area */
.lookUp{
    width:100%;
    margin: 0 auto;
    align-content: center;
}

.searchBlock{
    margin: 2em 0 0;
}

.inputCity{
    width:100%;
    height: 3em;
    resize: none; 

}

.btn-primary{
    width:100%;
    height: 3em;
    color:white;
    background-color:#FE7D6A; 
    border:none;
    box-shadow: none;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color:#FC4C4E; 
    border:none;
    box-shadow: none;
}


.seachList{
    width:100%;
    padding: 1em 2.5%;
    margin: 2em 0 0;
    display: inline-block;
    clear:both;
}

/* Current City Search box */

.result{
    padding: 1em 2.5%;
    margin:0 auto;
    width: 90%;
}

.currentCity{
    width:100%;
    margin: 0 auto;
    background-color: rgb(236, 228, 222);
    clear:both;
}

.card-text{
    text-align: center;
    font-size: 1.25em;
}

.temp{
    font-size: 4em;

}

.currentDesc{
    text-align: center;
    font-size: 1em;
}

/* UV Index Color Change */
.uvBad{
    text-align: center;
    font-weight: 900;
    color:darkorange;
}

.uvMod{
    text-align: center;
    font-weight: 900;
    color:darkgoldenrod;
}

.uvGood{
    text-align: center;
    font-weight: 900;
    color: rgb(51, 141, 51);
}

.uvLow{
    text-align: center;
    font-weight: 900;
    color:royalblue;
}

.fiveDays{
    width: flex;
    min-width:100%;
    margin: 0 .5%;
}

.weatherBlock{
    background-color: rgb(236, 228, 222);
    width: 100%;
    margin: 2em 0 1em;
}

/* Footer */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1em 0 .5em;
    margin-top: 3em;
    /* background:peachpuff; */
    color: rgb(236, 228, 222);
    font-size: 12px;
    text-align: center;
}


    /*Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) {
        .inputCity{
            width:100%;
        }
        .fiveDays{
            width: flex;
            min-width:100%;
        }
        
        .btn-primary{
            width:100%;
        }

        .currentCity{
            width:100%;
        }
    }
    
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 767.98px) {
        .inputCity{
            width:100%;
        }
        .fiveDays{
            width: flex;
            min-width:40%;
        }
        
        .btn-primary{
            width:100%;
        }
        
        .currentCity{
            width:100%;
        }
    }
    
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) {
        .inputCity{
            width:50%;
        }

        .fiveDays{
            width: flex;
            min-width:40%;
        }
        
        
        .btn-primary{
            width:30%;
        }
        
        .currentCity{
            width:100%;
        }
    }
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) { 
        .inputCity{
            width:50%;
        }

        .fiveDays{
            width: flex;
            min-width:30%;
        }
        
        .btn-primary{
            width:30%;
        }

        .currentCity{
            width:50%;
        }
    }
    
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .inputCity{
            width:50%;
        }

        .fiveDays{
            width: flex;
            min-width:19%;
        }
        
        .btn-primary{
            width:30%;
        }
        
        .currentCity{
            width:50%;
        }
    }